@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #131415;
    color: white;
    font-family: "Poppins", sans-serif;
}

h1, h2{
    text-align: center;
}

label, input{
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.hr{
    border: 2px solid #ffff00;
    margin: 1rem 1.5rem;
}

.margen{
    margin: 1.5rem 0;
}

.boton{
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: #ffff00;
    border: 0px;
    border-radius: 5px;
}

#botonBack{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
}

.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Error / Success */
.form__field.error input {
    border: 1px solid #dc3545;
}
  
.form__field small {
    display: block;
    color: #dc3545;
    max-width: 350px;
    text-align: center;
    padding: 7px 0;
}
  
.form__field.success input {
    border: 1px solid #28a745;
}