@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #131415;
    color: white;
    font-family: "Poppins", sans-serif;
}

h1, h2{
    text-align: center;
}

label, input{
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.hr{
    border: 2px solid #ffff00;
}

.botonAtras{
    margin: 5px 5px;
    background-color: #ffff00;
    border: 0px;
    border-radius: 5px;
}

#botonBack{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
}