@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

body{
    padding: 0 50px;
    background-color: #00a4e4;
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
}

h6{
    font-size: 0.9rem;
    color: #00205b;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.boton{
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: white;
    border: 0px;
    border-radius: 5px;
}

#boton{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}