@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: 'Roboto', sans-serif;
    --font-family2: 'Roboto Mono', monospace;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0 0;
    padding: 0;
}

header{
    position: fixed;
}

/*********************************************************/

.navbar__class{
    width: 100%;
    height: 50px;
    background-color: #0747a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar__imagendiv{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.navbar__imagendiv img{
    height: 100%;
    width: 100%;
    transition: 1s;
}

.navbar__imagendiv img:hover{
    transform: scale(1.1);
}

.navbar__lista{
    height: 70%;
}

.navbar__lista ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.navbar__lista ul li{
    display: flex;
    align-items: center;
    margin: 0 5px;
    height: 100%;
    border: 1px solid transparent;
    transition: 0.5s;
}

.navbar__lista ul li:hover{
    border-bottom: 1px solid white;
}

.navbar__lista ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-family,--font-family2);
}

.navbar__lista__burger{
    display: none;
}

/*********************************************************/
.seccion__hero{
    height: 100vh;
    background-image: url('./images/hero_fondo1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__hero h1 span{
    text-transform: uppercase;
    color: #0747a6;
    font-size: 6rem;
    font-family: var(--font-family,--font-family2);
}

.seccion__hero h1{
    text-transform: uppercase;
    color:#00205b;
    font-size: 5rem;
    font-family: var(--font-family,--font-family2);
}

/*********************************************************/

.seccion__acerca{
    width: 100%;
    /* height: 100vh; */
    background-color: #0747a6;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.seccion__acerca .seccion__titulo{
    margin-top: 35px;
}

.seccion__acerca .seccion__titulo h2{
    text-transform: uppercase;
    color: white;
    font-size: 6rem;
    font-family: var(--font-family,--font-family2);
}

.seccion__acerca .seccion__info{
    max-width: 1200px;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
}

.seccion__info .seccion__col{
    width: 100%;
    height: 100%;
    max-width: fit-content;
    margin: 5px 20px;
    word-wrap: break-word;
}

.seccion__col p{
    /* font-size: calc(1em + 1vw); */
    font-size: 1.2em;
    text-align: justify;
    color: white;
    font-family: var(--font-family,--font-family2);
}

/*********************************************************/

.seccion__imagenes{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.seccion__imagenes .contenedor .imagenes__grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
}

.seccion__imagenes .imagenes__grid .zoom{
    height: 180px;
    width: 300px;
    transition: all .3s ease-in-out;
}

.seccion__imagenes .imagenes__grid .zoom:hover{
    transform: scale(1.05);
}

.seccion__imagenes .vista360{
    height: 30px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__imagenes .vista360 button{
    border: 2px solid #0747a6;
    background-color: white;
    border-radius: 20px;
}

.seccion__imagenes .vista360 button:hover{
    background-color:#0747a6;
    border-radius: 20px;
}

.seccion__imagenes .vista360 a{
    text-decoration: none;
    color: #0747a6;
    margin: 0px 10px;
    text-transform: uppercase;
}

.seccion__imagenes .vista360 a:hover{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    text-transform: uppercase;
}

.seccion__imagenes .titulo__imagenes {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__imagenes .titulo__imagenes h2{
    text-transform: uppercase;
    color: #0747a6;
    font-family: var(--font-family,--font-family2);
}

/*********************************************************/
.seccion__contacto{
    padding: 50px 100px;
    background-image: url('./images/fondoContacto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.seccion__contacto::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.seccion__contacto *{
    position: relative;
    z-index: 1;
}

.seccion__contacto .contenedor{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion__contacto .contacto__titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion__contacto .contacto__titulo h2{
    text-transform: uppercase;
    color:#0747a6;
    font-size: 2rem;
    font-family: var(--font-family,--font-family2);
}

.seccion__datos{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.seccion__datos .datos__col{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.datos__col p{
    margin: 10px 0px;
    color:#00205b;
}

.seccion__datos .mapa__col{
    width: 100%;
    height: 100%;
    margin: 5px 20px;
}

.seccion__datos .mapa__col img{
    width: 100%;
    height: 100%;
}

.datos__col a{
    text-decoration: none;
    color:#00205b;
}

/*********************************************************/
.footer{
    width: 100%;
    height: 3rem;
    background-color: #0747a6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer label{
    color: white;
    font-size: 1rem;
}

/*********************************************************/
/*************media-query*********************************/
/*********************************************************/

/* Celulares*/
@media screen and (max-width : 600px) {
    .navbar__lista ul{
        display: none;
    }
     .navbar__lista__burger{
        display: contents;
    } 

    .navbar__lista__burger nav ul li a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 0px 20px;
        border-bottom: 2px solid  #0747a6;
        max-width: 600px;
        background: #0747a6;
        font-family: var(--font-family,--font-family2);
        /* font-variant: small-caps; */
        font-size: 1.3rem;
        text-shadow: 1px 1px black;
    }

    .navbar__lista__burger nav{
        margin-top: 180px;
    }

    .navbar__lista__burger nav ul{
        background: #0747a6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;
    }

    .navbar__lista__burger nav ul li{
        list-style-type: none;
    }

    .navbar__lista__burger input[type="checkbox"], .navbar__lista__burger .fa-times, .navbar__lista__burger .fa-bars{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 10px;
        width: 50px;
        height: 50px;   
    }

    .navbar__lista__burger .fa-bars, .navbar__lista__burger .fa-times {
        font-size: 30px;
        pointer-events: none;
    }
      
    .navbar__lista__burger input[type="checkbox"] {
        opacity: 0;
    }
      
    .navbar__lista__burger {
        color: white;
        position: relative;
        background: #0747a6;
        min-height: 48px;
    }
      
      .navbar__lista__burger nav {
        display: none;
      }
      
      .navbar__lista__burger input:checked ~ nav {
        display: block;
      }
      
      .navbar__lista__burger input:checked ~ .fa-bars {
        display: none;
      }
      
      .navbar__lista__burger input:not(:checked) ~ .fa-times {
        display: none;
      } 

  /*************************************/
    .seccion__hero{
        width: 100%;
        height: 30vh;
        background-size: contain;
        background-position: top;
    }

    .seccion__hero h1 span{
        font-size: 2rem;
    }
    
    .seccion__hero h1{
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
   /*************************************/
    .seccion__acerca{
        height: auto;
    }

    .seccion__acerca .seccion__titulo{
        margin-top: 5px;
    }
    
    .seccion__acerca .seccion__titulo h2{
        font-size: 2rem;
    }
    
    .seccion__info{
        flex-direction: column;
    }
    
    .seccion__info .seccion__col{
        max-width: fit-content;
        margin: 5px 20px;
    }

    .seccion__col p{
        font-size: 0.8rem;
    }

  /*************************************/
    .seccion__imagenes{
        height: auto;
    }

    .seccion__imagenes .contenedor .imagenes__grid{
        padding: 0px;
        gap: 5px;
        grid-template-columns: repeat(1,1fr);
    }

    .seccion__imagenes .item__grid .zoom{
        width: 300px;
        height: 150px;
        padding: 5px 5px;
    }

    .seccion__imagenes .item__grid{
        width: 100%;
        height: 100%;
    }

    .item__grid img{
        width: 100%;
        height: 100%;
    }    

  /*************************************/ 

   .seccion__contacto{
    background-size:auto;
   }

   .seccion__contacto .contenedor{
        margin: 0px 0px;
   }

   .seccion__datos{ 
        width: 100%; 
        flex-direction: column;
   }
}


/* iPads 600px to 1024px */
@media only screen and (min-device-width : 601px) and (max-device-width : 1024px){
    .navbar__lista ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;
    }

    .navbar__lista__burger{
        display: none;
    }
    .navbar__lista__burger i{
        color: white;
        margin-right: 20px;
    }
  /*************************************/
    .seccion__hero{
        width: 100%;
        height: 45vh;
        background-size: contain;
        background-position: top;
    }

    .seccion__hero h1 span{
        font-size: 3rem;
    }
    
    .seccion__hero h1{
        margin-left: 1rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }
   /*************************************/
    .seccion__acerca{
        height: 50vh;
    }

    .seccion__acerca .seccion__titulo{
        margin-top: 5px;
    }
    
    .seccion__acerca .seccion__titulo h2{
        font-size: 3rem;
    }
    
    .seccion__info{
        flex-direction: column;
    }
    
    .seccion__info .seccion__col{
        max-width: fit-content;
        margin: 5px 20px;
    }

    .seccion__col p{
        font-size: 1rem;
    }

  /*************************************/
    .seccion__imagenes{
        height: auto;
    }

    .seccion__imagenes .contenedor .imagenes__grid{
        margin-bottom: 10px;
        gap: 0px;
        grid-template-columns: repeat(2,1fr);
    }

    .seccion__imagenes .item__grid .zoom{
        width: 200px;
        height: 120px;
        padding: 2.5px 2.5px;
    }

    .seccion__imagenes .item__grid{
        width: 100%;
        height: 100%;
    }

    .item__grid img{
        width: 100%;
        height: 100%;
    }    

  /*************************************/ 

   .seccion__contacto{
    background-size:cover;
    background-position: center;
   }

   .seccion__contacto .contenedor{
        margin: 0px 0px;
   }

   .seccion__datos{ 
        width: 100%; 
        flex-direction: row;
   }
 
}
