body{
    background-color:#eceff4;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.contenedor{
    background-color: white;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagenes{
    width: 80%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen{
   width: 130px;
   transition: 1s;
}

.imagen:hover{
  opacity: 0.8;
  transform: scale(0.5);
} 

.titular{
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

.parrafo{
    text-align:justify;
    font-size: 1rem;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.boton{
    color: white;
    border: 1rem;
    background-color: 003366;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.5rem;
    opacity: 0;
    position: absolute;
 }

.boton:hover {
    opacity: 1;
}

.contenedor1{
    background-color: white;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.contactContainer1{
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}
.contactContainer2{
    width: 50%;
    height: 100%;
}

.mapa{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}

.listaContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7rem;
    padding: 10px;
    color: gray;
}

.ordenSucursales{
    display: flex;
    flex-direction: row ;
    margin-bottom: 2rem ;
}

.separador{
    margin: 1rem 0rem;
}

.iconosSocialMedia{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.piePagina{
    background-color: white;
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenPie{
    width: 50px;
    height: 50px;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
  }
